template(name='music_bars')
  .music-bars-wrapper
    .music-bars
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
    .music-bars
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
    .music-bars
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
    .music-bars
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar
      .bar